body {
  background-image: linear-gradient( 92deg, #302dffeb, #33ff00);
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header-content {
  color: white;
}

.pokemon-button {
  width: 200px;
  padding: 1rem;
  color: black;
  box-shadow: -3px 6px 5px;

}

.pokemon-img {
  height: 300px;
  width: auto;
}


#pokemon-modal-container {
  display: none;
}

#pokemon-modal-container.is-visible {
  display: block;
  background: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: auto;
  top: 0;
  left: 0;
}

.pokemon-modal {
  background-image: linear-gradient( 92deg, #302dffeb, #33ff00);
  color: white;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: .25rem;
  position: absolute;
  padding: 2rem;
  top: 15%;
  z-index: 999;
  width: 30%;
}

.info-button-close {
  background-color: red;
  color: white;
  padding: 8px;
}

.pokemon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-list-items {
  padding: 1rem;
}

.pokemon-button {
  background-image: linear-gradient(340deg, #3fff00, #00a1ff);
  color: white;
  opacity: 1;
  transition-duration: .5s;
}

.pokemon-button:hover {
  opacity: .5;
  transition-duration: .5s;
}

@media all and (min-width: 320px) and (max-width: 720px) {
  .pokemon-img {
    height: 300px;
    width: 100%;
  }

  .pokemon-modal {
    width: 60%;
  }
}
