body {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  font-family: 'Averia Serif Libre', cursive;
}

* {
  margin: 0;
  padding: 0;
}

.bigP {
  color: red;
  background-color: white;
}

.smallP {
  color: blue;
  background-color: white;
}

.pokemon-button {
  padding: 1rem;
  color: black;
  background-color; purple;

}

.pokemon-list-items {
  background-image: linear-gradient(#fb01ff8a, #9621b3a6 40%);
  box-shadow: 2px 2px 8px;
}
