body {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #0d6efd;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ol, ul {
  padding: 0;
}

.form-inline {
  display: flex;
  padding: 10px;
}

.header-title {
  position: absolute;
  right: 0;
  left: 0;
  top: 30%;
  color: white;
  background-color: rgba(0,0,0,0.8);
  padding: 2rem;
}

.overlap-content {
  height: 100vh;
  background-color: #fff;
}

.centered-list {
  color: white;
  z-index: 999;
}

.border-header-bottom {
  border-bottom: transparent 1px solid;
}

.button-generation-layout {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-radius: .25rem;
  width: 100%;
}

.pokemon-button {
  border-radius: .25rem;
  width: 285px;
  padding: 1rem;
  color: white;
  box-shadow: 0 6px 5px;
  opacity: 1;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.modal {
  background-color: rgba(0,0,0,.5);
}

.modal-dialog {
  top: 25%;
}

.is-visible {
  color: black;
  display: block;
}

.pokemon-list-items {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.modal-pokemon-images {
  width: 80%;
}

.button-hover {
  background-color: black;
  border: 1px solid transparent;
  border-radius: .25rem;
  display: flex;
  flex-direction: column-reverse;
  transition-duration: .5s;
  color: white;
  padding: 1rem;
  width: 280px;
}

.button-hover:hover {
  opacity: .5;
}

.row {
  --bs-gutter-x: 0;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 685px;
  width: auto;
  overflow-y: scroll;
}

@media all and (min-width: 320px) and (max-width: 942px) {
  .button-generation-layout {
    flex-direction: column;
  }

  .pokemon-list {
    grid-template-columns: 1fr;
  }

  .pokemon-img {
    height: 300px;
    width: 100%;
  }

  .pokemon-modal {
    width: 60%;
  }
}
